force-app/main/default/flows/stud_screen_flow_builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>Picklist_Level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Student__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>stud screen flow builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>stud screen flow builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Student_Record_Created_Flow</name>
        <label>Student Record Created Flow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Number_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_Name__c</field>
            <value>
                <elementReference>Father_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_occupation__c</field>
            <value>
                <elementReference>Father_s_Occupation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Submission_Date__c</field>
            <value>
                <elementReference>Form_Submission_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_Name__c</field>
            <value>
                <elementReference>Mother_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_occupation__c</field>
            <value>
                <elementReference>Mother_s_Occupation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physically_disabled__c</field>
            <value>
                <elementReference>Physically_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Description__c</field>
            <value>
                <elementReference>Student_Description_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Name__c</field>
            <value>
                <elementReference>Student_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>CreateStudentFlow</name>
        <label>CreateStudentFlow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Student_Record_Created_Flow</targetReference>
        </connector>
        <fields>
            <name>Student_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Student_Name</elementReference>
            </defaultValue>
            <fieldText>Student Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Level</name>
            <choiceReferences>Picklist_Level</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Level</elementReference>
            </defaultValue>
            <fieldText>Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Submission_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Form_Submission_Date</elementReference>
            </defaultValue>
            <fieldText>Form Submission Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Description_1</name>
            <fieldText>Student Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Father_Name_1</name>
            <dataType>String</dataType>
            <fieldText>Father Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mother_Name_1</name>
            <dataType>String</dataType>
            <fieldText>Mother Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Father_s_Occupation</name>
            <dataType>String</dataType>
            <fieldText>Father’s Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mother_s_Occupation</name>
            <dataType>String</dataType>
            <fieldText>Mother’s Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Physically_Disabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Physically Disabled?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Number_1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Contact_Number_1</elementReference>
            </defaultValue>
            <fieldText>Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact_Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateStudentFlow</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
